/* ----------------------------- Buttons ------------------------- */

.btn_export{
    font-family: 'Brush Script MT', cursive;
    margin: auto;
    
    border: 2px solid red;

    background-color: black;    
    color: rgb(255, 255, 255);
}.btn_export:hover{
    border: 2px solid rgb(255, 255, 255);
    color: rgb(255, 0, 0);
}

.btn_remove{
    margin-right: 1em;

    border: 1px solid red;

    background-color: black;
    color: red;
}

/* Adds unit to array */
.btn_submit{
    margin: auto;
    margin-bottom: 1em;
    width: 7em;
}    


/* --------------------------- Classes -------------------------------- */


/* --------------------------- Elements -------------------------------- */

h1{
    font-family: 'Brush Script MT', cursive;
    color: red;
}

input{
    margin: auto;
    margin-top: .5em;
    margin-bottom: .5em;

    width: 20em;

    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

label{
    width: 20em;

    color: rgb(0, 0, 0);
}

li{
    display: flex;
    flex-direction: column;
    margin: auto;

    width: auto;

    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}