/* -------------------------- Buttons ----------------------------- */

/* Takes user back to title screen */
.btn_back{
    align-self: center;
    justify-content: center;

    height: 1em;
    font-size: 1.75em;

    background-color: black;
    color: red;
}.btn_back:hover{
    cursor: pointer;
    border: 2px solid red;
}

/* Design of the conditions button with sub-styles for
    each condition - blinded, charmed, deafened, frightened
    grappled, invisible, paralyzed, petrified, poisoned,
    restrained, stunned, unconcious*/
.btn_conditions{
    width: 2em;
    height: 2em;
    margin-top: 0;
    margin-bottom: 0;

    border: 1px solid rgb(255, 255, 255);

    color: white;
    background-color: black;
}.blinded{
    background-color: green;
}.charmed{
    background-color: pink;
}.deafened{
    background-color: gray;
}.frightened{
    background-color: red;
}.grappled{
    background-color: brown;
}.invisible{
    background-color: white;
}.paralyzed{
    background-color: yellow;
}.petrified{
    background-color: rgb(57, 55, 55);
}.poisoned{
    background-color: purple;
}.restrained{
    background-color: cyan;
}.stunned{
    background-color: orange;
}.unconcious{
    background-color: black;
}

/* Labels the current unit as "dead" */
.btn_dead{
    width: 2em;
    height: 2em;
    margin-bottom: .5em;

    border: 1px solid rgb(255, 255, 255);

    color: rgb(255, 0, 0);
    background-color: black;
}

/* Assigns the current unit either 0,1,2,3 death fails depending 
    on which button is selected */
.btn_deathfail{
    width: 2em;
    height: 2em;

    border: 1px solid rgb(93, 75, 75);

    color: white;
    background-color: black;
}.btn_deathsave:hover{
    cursor: pointer;
}

/* Same as .btn_deathfail but for saves */
.btn_deathsave{ 
    width: 2em;
    height: 2em;

    border: 1px solid rgb(255, 255, 255);

    color: white;
    background-color: black;
}.btn_deathsave:hover{
    cursor: pointer;
}

/* Iterates to the next unit in the array and displays it's
    data */
.btn_nextunit{
    margin-bottom: .3em;

    border: 2px solid white;

    background-color: black;
    color: red;
}.btn_nextunit:hover{
    border: 2px solid red;

    background-color: black;
    color: white;
}

/* Removes the "dead" status from current unit */
.btn_revive{
    width: 2em;
    height: 2em;
    margin-bottom: .5em;

    border: 1px solid rgb(255, 255, 255);

    color: rgb(255, 255, 255);
    background-color: black;
}

/* ----------------------------- Classes --------------------------- */

/* Interactive panel for user to add, remove, and modify
    each unit in the array in order */
.action_panel{
    justify-content: center;
    margin: auto;

    width: 20em;
    margin-bottom: .3em;
    border: 3px solid rgb(255, 255, 255);

    background-color: black;
    color: red;
}

/* Design for the conditions section of the action panel */
.conditions{
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin: auto;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}.conditions_text{
    font-family: 'Brush Script MT', cursive;

    margin-right: 1em;
    font-size: 1em;

    color: red;
}.conditions-title{

    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    font-family: 'Brush Script MT', cursive;

    font-size: 1em;

    color: red;
}

/* Design for the death save buttons */
.death_saves{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: auto;
}.death_saves_text{
    margin-right: .1em;
    color: white;
}.death_fails_text{
    margin-right: .5em;
    color: white;
}

/* Design for the death status handler in the top-left of the
    Action Panel */
.death_status{
    display: flex;
    flex-direction: row;
    justify-content: left;
}

/* Key section of the action panel that labels each condition 
    button. Hopefully this deprecates with the addition
    of descriptive images for each condition. */
.key{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;

    width: 15em;

    border: 3px solid rgb(255, 255, 255);

    background-color: black;
    color: red;
}.key-text{
    text-align: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;

    font-size: 90%;

    color: white;
}

/* Design for name of unit on the tracker */
.unit-name{
    justify-content: left;
    align-items: left;
    text-align: left;
}


/* ------------------------------- Elements ------------------------ */

h1{
    font-family: 'Brush Script MT', cursive;
    color: red;
}

h2{
    font-family: 'Brush Script MT', cursive;

    font-size: 2em;
    margin-top: 0;
    margin-bottom: .3em;

    color: red;
}

p{
    display: flex;
    flex-direction: row;
    flex: 5;

    font-size: 3em;

    color: black;
}