<!-- Title -->
<!-- Note: Despite the naming convention, the tracker is not
    actually a stack, but rather an array. The use of "Stack"
    here is purely semantic. -->
<div class="center content row-content">

    <button class="btn_back" routerLink="app-add-units"><==</button>
    <h1>Initiative Stack</h1>

</div>

<div class="center" id="trackerContainer">

    <!-- Interactive panel which allows for the modification
        of each units conditions and status' -->
    <div class="action_panel">

        <h2>Action Panel</h2>
        <!-- Iterates to the next unit in the array and displays
            it's data -->
        <button (click)="iterateUnit()" class="btn_nextunit">NEXT UNIT</button>

        <div class="row_content"> <!-- Death Status Manager -->
            <div>
                <!-- kills or revives current unit -->
                <div class="death_status">

                    <button class="btn_dead" id="deathStatus" (click)="updateStatus('deathStatus')">
                        <img class="btn_dead_img" src="https://d1nhio0ox7pgb.cloudfront.net/_img/i_collection_png/256x256/plain/skull.png">
                    </button>

                    <button class="btn_revive" id="reviveStatus" (click)="updateStatus('reviveStatus')">
                        <img class="btn_revive_img" src="https://www.iconexperience.com/_img/i_collection_png/48x48/plain/angel.png">
                    </button>
                    <p class="justify_right conditions_text">Conditions</p>

                </div>

                <!-- Handles death saves of current unit -->
                <div class="death_saves">

                    <div class="death_saves_text">Saves</div>
                    
                    <button class="btn_deathsave" id="ds1" (click)="updateStatus('ds1')"></button>
                    
                    <button class="btn_deathsave" id="ds2" (click)="updateStatus('ds2')"></button>
                    
                    <button class="btn_deathsave" id="ds3" (click)="updateStatus('ds3')"></button>
                    
                    <!-- displays first three conditions inline
                        with death saves buttons -->
                    <div class="conditions">
                        <button class="btn_conditions blinded" id="blinded" (click)="updateStatus('blinded')">
                            <img class="btn_conditions_img" src="https://www.iconexperience.com/_img/i_collection_png/48x48/plain/eye_blind.png">
                        </button>
                        <button class="btn_conditions charmed" id="charmed" (click)="updateStatus('charmed')">
                            <img class="btn_conditions_img" src="https://www.iconexperience.com/_img/i_collection_png/48x48/plain/heart.png">
                        </button>
                        <button class="btn_conditions deafened" id="deafened" (click)="updateStatus('deafened')">
                            <img class="btn_conditions_img" src="https://www.iconexperience.com/_img/i_collection_png/48x48/plain/ear.png">
                        </button>
                    </div>
                </div>

                <!-- Handles death fails of current unit -->
                <div class="death_saves">

                    <div class="death_fails_text">Fails</div>
                    
                    <button class="btn_deathfail" id="df1" (click)="updateStatus('df1')"></button>
                    
                    <button class="btn_deathfail" id="df2" (click)="updateStatus('df2')"></button>
                    
                    <button class="btn_deathfail" id="df3" (click)="updateStatus('df3')"></button>
                    
                    <!-- displays conditions 4,5,6 inline
                        with death fails buttons -->
                    <div class="conditions">
                        <button class="btn_conditions frightened" id="frightened" (click)="updateStatus('frightened')"></button>
                        <button class="btn_conditions grappled" id="grappled" (click)="updateStatus('grappled')"></button>
                        <button class="btn_conditions invisible" id="invisible" (click)="updateStatus('invisible')"></button>
                    </div>
                </div>

                <!-- displays the last 6 conditions -->
                <div class="conditions">
                    <button class="btn_conditions paralyzed" id="paralyzed" (click)="updateStatus('paralyzed')"></button>
                    <button class="btn_conditions petrified" id="petrified" (click)="updateStatus('petrified')"></button>
                    <button class="btn_conditions poisoned" id="poisoned" (click)="updateStatus('poisoned')">
                        <img class="btn_conditions_img" src="https://www.iconexperience.com/_img/i_collection_png/48x48/plain/poison.png">
                    </button>
                </div>
                <div class="conditions">
                    <button class="btn_conditions restrained" id="restrained" (click)="updateStatus('restrained')"></button>
                    <button class="btn_conditions stunned" id="stunned" (click)="updateStatus('stunned')"></button>
                    <button class="btn_conditions unconcious" id="unconcious" (click)="updateStatus('unconcious')"></button>
                </div>

            </div>
        </div>

    </div> 

    <!-- Key for user to identify each condition by color -->
    <div class="key">

        <p class="conditions-title">Conditions Key</p>

        <div class="row-content">
            <p class="key-text" style="background-color: green">Blinded</p>
            <p class="key-text" style="background-color: pink; color: black">Charmed</p>
            <p class="key-text" style="background-color: gray">Deafened</p>

        </div>

        <div class="row-content">

            <p class="key-text" style="background-color: red">Frightened</p>
            <p class="key-text" style="background-color: brown">Grappled</p>
            <p class="key-text" style="background-color: white; color: black">Invisible</p>

        </div>

        <div class="row-content">

            <p class="key-text" style="background-color: yellow; color: black">Paralyzed</p>
            <p class="key-text" style="background-color: rgb(57, 53, 53)">Petrified</p>
            <p class="key-text" style="background-color: purple">Poisoned</p>

        </div>

        <div class="row-content">

            <p class="key-text" style="background-color: cyan; color: black">Restrained</p>
            <p class="key-text" style="background-color: orange">Stunned</p>
            <p class="key-text" style="background-color: black; color: white">Unconcious</p>

        </div>

    </div>

</div>
