/* ----------------------------- Buttons -------------------------- */

/* Picture in the center of the title page is a 
    "get started" button */
.btn-title{
    cursor: pointer;

    width: 35em;

    border: 5px solid black;

    background-color: black;
}
.btn-title:hover{
    border: 5px solid red;
}
.btn-title:active{
    background-color: gray;
}

/* --------------------------- Classes ----------------------------- */


/* --------------------------- Elements -----------------------------*/

h1{
    font-family: 'Brush Script MT', cursive;
    color: red;
}

img{
    margin-top: 5em;

    height: 33em;
    width: 33em;

    object-fit: cover;

    -webkit-box-reflect: below 5px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.2));
}

p{
    font-family: 'Brush Script MT', cursive;
    color: red;
}