/* ----------------------------- Buttons -------------------------- */

/* Picture in the center of the title page is a 
    "get started" button */
.btn-title{
    cursor: pointer;

    width: 35em;

    background-color: black;
}
.btn-title:hover{
    border: 5px solid red;
}
.btn-title:active{
    background-color: gray;
}

/* --------------------------- Classes ----------------------------- */



/* --------------------------- Elements -----------------------------*/

h1{
    font-family: 'Brush Script MT', cursive;
    color: red;
}

img{
    margin-top: 5em;

    height: 35em;
    width: 35em;

    object-fit: cover;
}

p{
    font-family: 'Brush Script MT', cursive;
    color: red;
}