<div class="center content">

    <h1>Add Units Here</h1>

</div>

<div class="center row-content">

    <button class="btn_nav" routerLink="app-title"> <== Frontpage </button>
    <button class="btn_nav" routerLink="app-unit"> Tracking ==> </button>

</div>

<div class="center content">

        <li>
            <input type="name" placeholder="Enter Name of Unit"
                [(ngModel)]="name" ngRepeat="detail in units">

            <input type="number" placeholder="Enter Initiative of Unit"
                [(ngModel)]="init" ngRepeat="detail in units">

            <input type="number" placeholder="Enter Dexterity of Unit"
                [(ngModel)]="dex" ngRepeat="detail in units">    

            <button class="btn_submit" (click)="addUnits()" (click)="loadDevToolComponents()"> Add Unit </button>   
        </li>

        <button class="btn_submit center" (click)="sortUnitsGreedy()">Sort</button>
        
        <li *ngFor="let unit of units">
            Name: {{unit.name}} || Initiative: {{unit.init}} || Dexterity: {{unit.dex}}
        </li>   
</div>

<div class="dev-tools">

    <h2 class="dev-tools-header">Dev Tools and Info</h2>

    <p class="dev-tools-text" id="listSize"></p>

</div>