<!-- Title -->
<div class="center content">

    <h1>Add Units Here</h1>

</div>

<!-- Navigation Buttons -->
<div class="center row-content">

    <button class="btn_nav" routerLink="app-title"> Frontpage </button>
    <button class="btn_nav" routerLink="app-unit"> Tracking </button>
    <button class="btn_nav" routerLink="app-save-units"> Save </button>

</div>

<!-- Interactive section of this page where the user can
    dynamically add units to the initiative array.
    Array is currently saved to each instance of the app.
    This will eventually be changed to have a working backend
 -->
 
<div class="center content">

        <!-- Input field -->
        <li>
            <input type="name" placeholder="Enter Name of Unit"
                [(ngModel)]="name" ngRepeat="detail in units">

            <input type="number" placeholder="Enter Initiative of Unit"
                [(ngModel)]="init" ngRepeat="detail in units">

            <input type="number" placeholder="Enter Dexterity of Unit"
                [(ngModel)]="dex" ngRepeat="detail in units">    

            <div class="row-content">
                <button class="btn_submit" (click)="addUnits()"> Add Unit </button>   
                <button class="btn_submit" (click)="loadUnits()">Load</button>
            </div>
        </li>
        
        <!-- Displays the contents of initiative array -->
        <li *ngFor="let unit of units; let index=index">
            <div class="row-content">
                <button class="btn_remove" (click)="removeUnit(index)">X</button>
                {{unit.index}}. {{unit.name}} || Initiative: {{unit.init}} || Dexterity: {{unit.dex}}({{unit.dexMod}})
            </div>
        </li>   
</div>