<!-- app component displays whichever component is currently routed -->
<div *ngIf="hasRoute('app-title')">

    <app-title></app-title>

</div>

<div *ngIf="hasRoute('app-add-units')">

    <app-add-units></app-add-units>

</div>

<div *ngIf="hasRoute('app-unit')">
    
    <app-unit></app-unit>

</div>

<div *ngIf="hasRoute('app-save-units')">

    <app-save-units></app-save-units>

</div>


<!-- Bug testing section that displays stats about the build -->
<div class="dev-tools">

    <h2 class="dev-tools-header">Dev Tools and Info</h2>

    <button (click)="addDummyUnits()">Add Dummy Unit</button>

    <button (click)="displayUnitListSize()">Update</button>

    <p class="dev-tools-text" id="listSize"></p>

</div>


<!-- Do not forget to create the 404.html after every build -->
<!-- ng build --output-path docs --base-href https://pages.code.ssnc.dev/dt236760/DD-Init-Tracker/ -->

<!-- Testing merging with multi remote repos -->

