/* Buttons */

.btn_nav{
    border-radius: 10%;
}.btn_nav:hover{
    border: 1px solid red;
    background-color: grey;
    cursor: pointer;
}


/* Classes */

.center{
    justify-content: center;
    align-self: center;
    text-align: center;
    margin: auto;
}

.content{
    display: flex;
    flex: 1;
    flex-direction: column;

    border: 0px solid blue;
}

.dev-tools{
    justify-content: center;
    align-self: center;
    text-align: center;
    margin: auto;
    margin-top: 50%;

    width: 20em;

    background-color: white;

}.dev-tools-header{
    color: black;
    font-size: 20px;
    font-weight: bold;
}.dev-tools-text{
    color: black;
    font-size: 15px;
}

.row-content{

    display: flex;
    flex-direction: row;

}

.tracked_unit{

    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: .35em;

    width: 25em;
    height: 5em;
    
    border: 5px solid red;

    background-color: grey;
    color: black;

}

/* Elements */

body{
  background-color: black;  
}

h1{
    color: white;
}

p{
    color: white;
}

h2,h3{
    color: white;
}